[Unit]
Description=Minecraft server
After=cloud-final.service

[Service]
WorkingDirectory=/opt/minecraft
ExecStartPre=/opt/minecraft/hugepages.sh
PermissionsStartOnly=true
User=minecraft
Group=minecraft
ExecStart=/opt/minecraft/minecraft.sh
Restart=always

[Install]
WantedBy=cloud-init.target
