[Unit]
Description=Minecraft server
After=cloud-final.service

[Service]
WorkingDirectory=/opt/minecraft
ExecStart=/opt/minecraft/minecraft.sh
User=minecraft
Group=minecraft

[Install]
WantedBy=cloud-init.target
